<div class="container">
  <div class="row">
    <div class="profile-group">
      <% if @customer.profile_image.attached? %>
        <%= image_tag @customer.profile_image, size: "192x108" %>
      <% else %>
        <%= image_tag 'no_image', size: "192x108" %>
      <% end %>
    </div>
    <div class="profile-group">
      <%= @customer.name %>(#<%= @customer.id %>)
    </div>
    <div class="profile-group">
      <% if @customer.private == false %>
        <p>公開</p>
      <% else %>
        <p>非公開</p>
      <% end %>
    </div>
    <div class="profile-group">
      <%= @customer.introduction %>
    </div>
    <div class="profile-group">
      <%= link_to "Edit", edit_public_customer_path, class: 'btn btn-success' %>
    </div>
    <div class="profile-group">
      <%= link_to "いいね一覧", favorite_posts_public_customer_path(params[:id]), class: 'btn btn-success' %>
    </div>
      <%= link_to public_customer_followings_path(@customer) do%>
        フォロー数 : <%= @customer.followings.count %>
      <% end %>
      <%= link_to public_customer_followers_path(@customer) do%>
        フォロワー数 : <%= @customer.followers.count %>
      <% end %>
    </div>
    <div class="profile-group">
      <% if @customer != current_customer %>
        <% if current_customer.following?(@customer) %>
          <%= link_to public_customer_relationships_path(@customer), method: :delete do %>
            <button class="btn btn-info">フォロー外す</button>
          <% end %>
        <% else %>
          <%= link_to public_customer_relationships_path(@customer), method: :post do %>
            <button class="btn btn-success">フォローする</button>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to edit_public_customer_path(@customer), class: "btn btn-outline-secondary btn-block" do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
      <% end %>
    </div>
    <%= render 'public/posts/index', posts: @posts %>
  </div>
</div>