<% posts.each do |post| %>
  <div class="card" >
    <% if post.image.attached? %>
      <%= image_tag post.image, size: "192x108" %>
    <% else %>
      <%= image_tag 'no_image', size: "192x108" %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title">
        <%= post.place.place_name %>
      </h5>
      <% post_tags = post.tags %>
      <% post_tags.each do |tag| %>
        <h6 class="card-subtitle">
          <%= tag.tag %>
        </h6>
        <!--<= link_to tag.tag, search_path(word: tag.tag, range:"tag", search: "perfect_match") %>-->
      <% end %>
      <p class="card-text">
        <%= post.introduction %>
      </p>
      <% if post.customer == current_customer %>
        <!--<= link_to "編集", edit_public_post_path(post), class: 'btn btn-secondary' %>-->
        <%= link_to "削除", public_post_path(post), method: :delete, class: 'btn btn-danger', "data-confirm" => "本当に削除しますか？" %>
      <% end %>
    </div>
  </div>
<% end %>