<div class="container">
  <div class="row card-deck">
    <div class="mt-2 mb-2 card shadow-sm text-center fadeUp" >
      <% if @post.image.attached? %>
        <%= image_tag @post.image, class: 'img-fluid fadeIn' %>
      <% else %>
        <%= image_tag 'no_image', class: 'img-fluid fadeIn' %>
      <% end %>

      <div class="card-body">
        <h3 class="card-title">
          <h3 style="display: inline-block;">
            <%= link_to  search_path(word: @post.place.place_name, range:"Place", search: "perfect_match"), class: 'pr-2' do %>
              <%= @post.place.place_name %>
            <% end %>
          </h3>
          <h3 style="display: inline-block;" id="favorite_btn_<%= @post.id %>">
            <%= render 'public/favorites/btn', post: @post %>
          </h3>
        </h3>

        <p class="created_at"><%= l @post.created_at %></p>

        <div class="card-item pb-4">
          <% post_tags = @post.tags %>
            <% post_tags.each do |tag| %>
              <%= link_to  search_path(word: tag.tag, range:"Tag", search: "perfect_match"), class: 'btn btn-outline-secondary btn-sm pr-2' do %>
              <%= tag.tag %><%= "(#{tag.posts.count})" %>
            <% end %>
          <% end %>
          <%= link_to "タグ編集", edit_post_path(@post), class: 'btn btn-secondary btn-sm' %>
          <% if @post.customer == current_customer %>
            <%= link_to "投稿削除", post_path(@post), method: :delete, class: 'btn btn-danger btn-sm', "data-confirm" => "本当に削除しますか？" %>
          <% end %>
        </div>

        <div class="card-item pb-2">
          <%= @post.introduction %>
          <%= link_to customer_path(@post.customer), class: 'pl-2' do %>
            <%= image_tag @post.customer.get_profile_image(25, 25), class: "img-thumbnail" %><%= @post.customer.name %>#<%= @post.customer.id %>
          <% end %>
        </div>

        <div class="card-item pb-2" id="comments">
          <%= render 'public/comments/comments', post: @post %>
        </div>

        <div class="card-item">
          <%= form_with model: @comment, url: post_comments_path(@post), local: false do |f| %>
            <%= f.text_area :body, rows: '2', placeholder: "コメント", class: "col-md-6" %><br>
            <%= f.submit "送信" %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>