
        <h3 class="card-title">
          <%="#{word}"%><%= favorite_count %>
          <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i><%= favorite_count %>
        </h3>

        <div class="card-item pb-4">
          <% post_tags = @post.tags %>
          <% post_tags.each do |tag| %>
            <%= link_to  public_search_path(word: tag.tag, range:"tag", search: "perfect_match"), class: 'pr-2' do %>
              <%= tag.tag %><%= "(#{tag.posts.count})" %>
            <% end %>
          <% end %>
        </div>