<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-12">
      <%= render 'layouts/search' %>
      <table class="table table-hover table-inverse">
        <% if @range == "User" %>
          <h2>Users search for "<%="#{@word}"%>"</h2>
          <%= render 'public/customers/index', customers: @customers %>
        <% elsif @range == "Place" %>
          <h2>Place search for "<%="#{@word}"%>"</h2>
          <%= render 'public/posts/index', posts: @posts %>
        <% elsif @range == "Tag" %>
          <h2>Posts search for "<%="#{@word}"%>"</h2>
          <%= render 'public/posts/index', posts: @posts %>
        <% elsif @range == "Word" %>
          <h2>Word search for "<%="#{@word}"%>"</h2>
          <%= render 'public/posts/index', posts: @posts %>
        <% end %>
      </table>
    </div>
  </div>
</div>