<!DOCTYPE html>
<html>
  <head>
    <title>Departure</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body">
    <header>
      <nav class="navbar navbar-expand-sm navbar-dark mb-3">
        <a class="navbar-brand" href="/"><h3>Departure</h3></a>
        <div class="collapse navbar-collapse justify-content-end">
          <ul class="navbar-nav">
            <li class="nav-item ml-2">
              <%= link_to 'About',public_homes_about_path %>
            </li>
            <li class="nav-item ml-2">
              <%= link_to '投稿一覧',public_posts_path %>
            </li>
            <%if customer_signed_in? %>
            <li class="nav-item ml-2">
                <%= link_to "マイページ", public_customer_path(current_customer) %>
              </li>
              <li class="nav-item ml-2">
                <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
              </li>
            <%else %>
              <li class="nav-item ml-2">
                <%= link_to "新規登録", new_customer_registration_path %>
              </li>
              <li class="nav-item ml-2">
                <%= link_to "ログイン", new_customer_session_path %>
              </li>
            <%end %>
            <%if admin_signed_in? %>
              <li class="nav-item ml-2">
                <%= link_to "ログアウト（管理者）", destroy_admin_session_path, method: :delete %>
              </li>
            <%else %>
              <li class="nav-item ml-2">
                <%= link_to "ログイン（管理者）", new_admin_session_path %>
              </li>
            <%end %>
          </ul>
        </div>
      </nav>
    </header>
    <%=yield %>
  </body>
</html>
